@{
	ViewBag.Title = "Yêu cầu quyền";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section header{
	<h1 class="page-header">Thông báo từ quản trị:</h1>
}
<div class="col-lg-12">
	<div class="alert alert-danger">Bạn không có quyền truy cập vào chức năng này!</div>
	<div class="col-md-offset-5 col-md-5">
		<button class="btn btn-danger" onclick=" javascript: history.back();"><i class="fa fa-arrow-left"></i> Quay lại</button>
	</div>
</div>