@model EntityModel.EF.Account

@{
	ViewBag.Title = "Xóa tài khoản " + @Model.UserName;
	Layout = null;//"~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body" style="max-height: 300px;overflow-y: auto;">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h3 style="text-align: center">Xóa tài khoản @Model.UserName</h3>
				<img src="~/Content/ClientTheme/image/1.png" class="img-responsive" />
				<h4 style="text-align:center">Bạn có muốn xóa tài khoản <strong style="color: red;">@Model.UserName</strong> này không?</h4>
				<div class="clearfix"></div>
				<div class="form-actions no-color text-center">
					<hr />
					@using (Html.BeginForm())
					{
						@Html.AntiForgeryToken()
						<button type="submit" class="btn btn-success"><i class="fa fa-recycle"></i> Xóa</button>
						<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
					}
				</div>
			</div>
		</div>
	</div>
</div>
