@model EntityModel.EF.Account

@{
	ViewBag.Title = "Xóa tài khoản " + @Model.UserName;
	Layout = null;//"~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="modal fade" id="deleteModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title">Xóa tài khoản @Model.UserName</h4>
			</div>
			<div class="modal-body">
				<h4>Bạn có muốn xóa tài khoản <strong style="color: red;">@Model.UserName</strong> này không?</h4>
				<div class="clearfix"></div>
			</div>
			<div class="modal-footer">
				<div class="form-actions no-color text-center">
					@using (Html.BeginForm())
					{
						<input type="submit" value="Xóa" class="btn btn-warning" />
						<button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
					}

				</div>
			</div>
		</div>
	</div>
</div>
