
@{
    ViewBag.Title = "Tin tức khu du lịch";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="col-lg-12 baiviet">
	<a href="#">
		<i class="glyphicon glyphicon-play"></i>
		<h5> Giới thiệu</h5>
	</a>
</div>
<div class="col-md-12" style="margin-bottom: 10px;">
	<h1 style="text-align: center;color: #981271; font-weight: bold;">Về khu du lịch</h1>
	<img src="image/1.png" style="margin: auto;display: block;" class="img-responsive">
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
	<div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div><div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div><div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div><div class="col-md-4" style="margin-bottom:10px;">
		<div style="width: 95%; height: 340px; margin: 0px 0px auto;display: block; border: 1px solid aqua; background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);">
			<a href="/">
				<img src="/Content/ClientTheme/image/3.png" class="img-responsive" width="100%" height="70%">
			</a>
			<a href="/" style="text-decoration: none; color: #fff;font-weight: bold;"><h4 style="font-weight: bold; text-align: center;">Dịch vụ vận chuyển trong khu du lịch</h4></a>
			<h5 style="margin: 5px 10px 5px 10px; color: #fff">Theo cá nhân mình thì cần phải quy hoạch lại đào tạo giáo viên. Đầu tiên phải điều tra dự thảo nguồn giáo viên từng năm một sau đó có tính toán hợp lí để thu hút HS ưu tú, như năm này 2018 ta khảo sát GV cả nước theo từng địa phương</h5>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-comment" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> 9</h6></div>
			<div style="float: left; width: 50%; border-top: 1px solid #999 "><i class="glyphicon glyphicon-user" style="display: inline;margin-left:10px"></i> <h6 style="color: #999;display: inline;"> Khánh vinh it</h6></div>

		</div>
	</div>
</div>

