<div class="container">
	<div class="col-md-12 footer-child">
		<div class="col-md-6 footer-left">
			<h4>Thông tin</h4>
			<i class="glyphicon glyphicon-ok"></i><h5>03-05-07, Mai Anh Đào, Phường 8, TP.Đà Lạt</h5>
			<i class="glyphicon glyphicon-phone-alt"></i><h5>0623.3821448 - 0623.3553737</h5>
			<i class="glyphicon glyphicon-envelope"></i><h5>info@tinhyeumongmo.vn</h5>
			<i class="glyphicon glyphicon-globe"></i><h5>http://tinhyeumongmo.vn/</h5>
			<div class="clearfix"></div>
		</div>
		<div class="col-md-6 footer-right">
			<h4>Bản đồ</h4>
			<div class="maps"></div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="container coppy">
        <h5>Design by Nhóm 3</h5>
        <a class="btn-top" href="javascript:void(0);" title="Nhấn để về đầu trang!" style="display: inline;"></a>
    </div>
</div>
