<div class="container">
    <div class="col-md-12" style="margin-top: 10px; ">
        <div class="col-md-6" style=" height: 100%;">
            <h4 style="color: #fff;font-weight: bold; margin-bottom: 20px;">Thông tin</h4>
            <i class="glyphicon glyphicon-ok" style="color: #981271;float: left; margin-right: 10px;"></i><h5 style="color: #fff; margin-bottom: 20px;">Thung lũng tận cùng</h5>
            <i class="glyphicon glyphicon-phone-alt" style="color: #981271;float: left; margin-right: 10px; "></i><h5 style="color: #fff; margin-bottom: 20px;">123456</h5>
            <i class="glyphicon glyphicon-envelope" style="color: #981271;float: left; margin-right: 10px;"></i><h5 style="color: #fff; margin-bottom: 20px;">ttt@ghmai</h5>
            <i class="glyphicon glyphicon-globe" style="color: #981271;float: left; margin-right: 10px;"></i><h5 style="color: #fff; margin-bottom: 20px;">Thung lũng tận cùng.com</h5>
        </div>
        <div class="col-md-6" style="height: 100%;">
            <h4 style="color: #fff;font-weight: bold;">Bản đồ</h4>
            <div style="height: 200px;border: 1px solid red;"></div>
        </div>
    </div>
    <div class="container">
        <h5 style="text-align: center;">Design by Khánh Vinh</h5>
        <a class="btn-top" href="javascript:void(0);" title="Nhấn để về đầu trang!" style="display: inline;"></a>
    </div>
</div>
