<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs12 col-sm-12">
                <div class="nav">
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container header-top">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="/" title="Thung lũng tình yêu">
                                    <img src="~/DATA/images/Logo/logo.png" alt="logo" width="90" height="60" class="img-responsive">
                                </a>
                            </div>
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="menu">
                                    <li class="active"><a href="/" title="Trang giới thiệu">Giới thiệu</a></li>
                                    <li><a href="/dich-vu" title="Trang dịch vụ">Dịch vụ</a></li>
                                    <li><a href="/tin-tuc" title="Trang tin tức">Tin tức</a></li>
                                    <li><a href="/bang-gia" title="Trang bảng giá">Bảng giá</a></li>
                                    <li><a href="/lien-he" title="Trang liên hệ">Liên hệ</a></li>
                                    <li>
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="Nhấn để thay đổi giao diện"><i class="glyphicon glyphicon-cog"></i></a>
	                                    <ul class="dropdown-menu">
		                                    <li><a href="#theme" onclick="switch_style('theme1'); return false;" id="them1" title="Tinh khôi">Cây cỏ</a></li>
		                                    <li><a href="#theme" onclick="switch_style('theme2'); return false;" id="them2" title="Huyền ảo">Đất trời</a></li>
	                                    </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
