<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs12 col-sm-12">
                <div class="nav">
                    <nav class="navbar navbar-default navbar-fixed-top">
                        <div class="container" style="padding: 0 20px 0 20px">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a href="#" class="">
                                    <img src="logo_dark-1-1-1.png" alt="logo" width="230" height="60" class="img-responsive">
                                </a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right" id="menu">
                                    <li class="active"><a href="index.html">Giới thiệu</a></li>
                                    <li><a href="dichvu.html" target="_">Dịch vụ</a></li>
                                    <li><a href="#">Tin tức</a></li>
                                    <li><a href="#">Bảng giá</a></li>
                                    <li><a href="#">Liên hệ</a></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
