<div class="col-md-12" style="padding-top: 15px; padding-bottom: 15px;height: 300px">
    <h1 style="text-align: center;padding-top: 15px; padding-bottom: 15px;color: #981271; font-weight: bold;">THUNG LŨNG TÌNH YÊU</h1>
    <div class="col-md-3 icon-menu">
        <a href="#"><img src="icon/instruction.png" alt=""></a>
        <div class="col-md-12">
            <h4>Giới thiệu</h4>
            <p>Giới thiệu về khu du lịch</p>
        </div>
    </div>
    <div class="col-md-3  icon-menu">
        <a href="#"><img src="icon/express.png" alt=""></a>
        <div class="col-md-12">
            <h4>Dịch vụ</h4>
            <p>Các loại dịch vụ của khu du lịch</p>
        </div>
    </div>
    <div class="col-md-3  icon-menu">
        <a href="#"><img src="icon/news.png" alt=""></a>
        <div class="col-md-12">
            <h4>Tin tức</h4>
            <p>Tin tức mới về khu du lịch</p>
        </div>
    </div>
    <div class="col-md-3 icon-menu">
        <a href="#"> <img src="icon/contact.png" alt=""></a>
        <div class="col-md-12">
            <h4>Liên hệ</h4>
            <p>Liên hệ ngay đến khu du lịch</p>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
