<div class="col-md-12 menu">
	<div class="container gach"></div>
	<h1>THUNG LŨNG TÌNH YÊU</h1>
	<div class="col-md-3 col-xs-6 col-sm-6 icon-menu">
		<a href="/"><img src="/Content/ClientTheme/icon/instruction.png" alt=""></a>
		<div class="col-md-12 head">
			<h4>Giới thiệu</h4>
			<p>Giới thiệu về khu du lịch</p>
		</div>
	</div>
	<div class="col-md-3 col-xs-6 col-sm-6   icon-menu">
		<a href="/dich-vu"><img src="/Content/ClientTheme/icon/express.png" alt=""></a>
		<div class="col-md-12 head">
			<h4>Dịch vụ</h4>
			<p>Các loại dịch vụ của khu du lịch</p>
		</div>
	</div>
	<div class="col-md-3 col-xs-6 col-sm-6   icon-menu">
		<a href="/tin-tuc"><img src="/Content/ClientTheme/icon/news.png" alt=""></a>
		<div class="col-md-12 head">
			<h4>Tin tức</h4>
			<p>Tin tức mới về khu du lịch</p>
		</div>
	</div>
	<div class="col-md-3 col-xs-6 col-sm-6  icon-menu head">
		<a href="/lien-he"> <img src="/Content/ClientTheme/icon/contact.png" alt=""></a>
		<div class="col-md-12 head">
			<h4>Liên hệ</h4>
			<p>Liên hệ ngay đến khu du lịch</p>
		</div>
	</div>
	<div class="container gach"></div>
	<div class="clearfix"></div>
</div>
