<div class="col-md-12 slider">
    <img src="slider/1.jpg" class="img-responsive img-slider">
    <img src="slider/2.jpg" class="img-responsive img-slider">
    <img src="slider/3.jpg" class="img-responsive img-slider">
    <img src="slider/4.jpg" class="img-responsive img-slider">
    <button class="btn" onclick="plusIndex(-1)" id="btnleft">&#10094</button>
    <button class="btn" onclick="plusIndex(1)" id="btnright">&#10095</button>
</div>
