<div class="container">

	<div class="row" id="slider">
		<div class="col-md-12">
			<div id="mySlider" class="carousel slide">
				<div class="carousel-inner">
					<div class="active item" data-slide-number="0">
						<img src="/Content/ClientTheme/slider/1.jpg" >
						<div class="carousel-caption">
							<a href="#"><h3>VẬN CHUYỂN TRONG KHU DU LỊCH</h3></a>
							<p>Du khách có thể du ngoạn bằng xe Lửa cổ, xe Jeep, xe Điện. Hành trình tham quan bắt đầu từ trung tâm, đi qua những con đường quanh co rợp bóng mát sẽ đưa du khách đến Cầu khóa Tình yêu, Vòi nước trên không, Phố hoa, tham quan Vườn Ươm, Thung lũng hoa Cẩm Tú Cầu.</p>
						</div>
					</div>
					<div class="item" data-slide-number="1">
						<img src="/Content/ClientTheme/slider/2.jpg" >
						<div class="carousel-caption">
							<a href="#"><h3>TRÒ CHƠI VẬN ĐỘNG</h3></a>
							<p>Highwire – trò chơi thể thao cảm giác mạnh đã xuất hiện lâu ở các nước châu Âu nhưng vẫn còn lạ lẫm tại Việt Nam.Highwire – trò chơi thể thao cảm giác mạnh đã xuất hiện lâu ở các nước châu Âu nhưng vẫn còn lạ lẫm tại Việt Nam.</p>
						</div>
					</div>
					<div class="item" data-slide-number="2">
						<img src="/Content/ClientTheme/slider/3.jpg" >
						<div class="carousel-caption">
							<a href="#"><h3>CANO – PEDALO</h3></a>
							<p>Đây là dịch vụ vui chơi giải trí hấp dẫn không thể bỏ qua tại Thung lũng Tình yêu. Với mặt hồ rộng thoáng, Quý khách sẽ trải qua những giây phút bồng bềnh trên Cano, Pedalo tham quan một vòng hồ Đa Thiện với khung cảnh thiên nhiên trữ tình, thơ mộng.</p>
						</div>
					</div>
				</div>

				<!-- Controls-->
				<a class="left carousel-control" href="#mySlider" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#mySlider" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>

			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12" id="slider-thumbs">
			<ul class="list-inline">
				<li>
					<a id="carousel-thumb-0" class="selected">
						<img src="/Content/ClientTheme/slider/1.jpg" style="width: 70px;height: 50px">
					</a>
				</li>
				<li>
					<a id="carousel-thumb-1">
						<img src="/Content/ClientTheme/slider/2.jpg" style="width: 70px;height: 50px">
					</a>
				</li>
				<li>
					<a id="carousel-thumb-2">
						<img src="/Content/ClientTheme/slider/3.jpg" style="width: 70px;height: 50px">
					</a>
				</li>

			</ul>
		</div>
	</div>
</div>
