@{
	ViewBag.Title = "Bảng giá khu du lịch";
	Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="col-lg-12 baiviet">
	<div class="col-md-1">
		<a href="/"><i class="glyphicon glyphicon-play"></i><h5> Giới thiệu</h5></a>
	</div>
	<div class="col-md-1">
		<a href="/bang-gia"><i class="glyphicon glyphicon-play"></i><h5> Bảng giá</h5></a>
	</div>

</div>
<div class="col-md-12" style="margin-bottom: 10px;">
	<h1 style="text-align: center;color: #981271; font-weight: bold;">Bảng giá các dịch vụ trong khu du lịch</h1>
	<img src="/Content/ClientTheme/image/BANGGIA.jpg" style="margin: auto;display: block;" class="img-responsive">

	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

