@{
	ViewBag.Title = "Bảng giá khu du lịch";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 baiviet">
	<p><i class="glyphicon glyphicon-home"></i> <a href="/">Giới thiệu</a>/ <a href="/bang-gia">Bảng giá</a></p>
</div>
<div class="col-md-12 baiviet">
	<div class="col-md-8 col-md-offset-2 chitiet" style="background: #521a61 linear-gradient(55.93deg, azure 0%, aquamarine 100%); color:#521a61 ">
		<h1>Bảng giá các dịch vụ trong khu du lịch</h1>
		<img src="~/Content/ClientTheme/image/1.png" class="img-responsive">
		<ol>
			<li style="font-size: 24px">
				<h3>Vé tham quan trọn gói - từ 01/03/2017</h3>
				<ul>
					<li>
						Người lớn - 1 người - 100000 VNĐ
						<p>Bao gồm: vé vào cổng ...</p>
					</li>
					<li>
						Trẻ con - 1 người - 40000 VNĐ
						<p>Bao gồm: vé vào cổng ...</p>
					</li>
				</ul>
			</li>
			<li style="font-size: 24px">
				<h3>Dịch vụ 2</h3>
				<ul>
					<li>Người lớn</li>
					<li>Trẻ con</li>
				</ul>
			</li>
		</ol>

		<h1>Xin cám ơn sự ủng hộ của quý khách!!! :)))</h1>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

