
ul.nav li {
	padding-top: 5px;
	font-weight: bold;
}

	ul.nav li a {
		font-size: 15px;
	}

		ul.nav li a:hover {
			font-size: 15px;
			border-bottom: 3px solid #981271;
		}

.navbar-default .navbar-nav > li > a:hover {
	color: #06ef2e;
	font-weight: bold;
}

ul.nav li.active {
	font-size: 20px;
	border-bottom: 3px solid #981271;
}

.navbar-default .navbar-nav > li.active > a {
	color: #981271;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a {
	background-color: transparent;
}

ul.nav li.active:hover {
	font-size: 20px;
	border-bottom: none;
}

.navbar-default .navbar-nav > li.active > a {
	color: #06ef2e;
	font-weight: bold;
}

.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #06ef2e;
}

.navbar-default {
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.top-slider {
	margin-top: 60px;
}

h1 {
	font-size: 30px;
}


.container {
	height: 100%;
	width: 100%;
}

.icon-menu:hover {
	border-bottom: 3px solid #981271;
}

.icon-menu img {
	width: 100px;
	height: 100px;
	display: block;
	margin: 10px 100px;
}

.icon-menu .head h4 {
	text-align: center;
	font-weight: bold;
}

.icon-menu .head p {
	text-align: center;
	font-size: 15px;
}

.slider {
	height: 350px;
	width: 100%;
	margin: 0 auto;
	margin-left: -15px;
	position: relative;
}

	.slider img {
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.slider button.btn {
		position: absolute;
		width: 50px;
		height: 50px;
		border: none;
		-ms-border-radius: 25px;
		border-radius: 25px;
		top: 120px;
		background: #ffffff;
		background: rgba(255,255,255,0.95);
		font-size: 20px;
	}

#btnright {
	position: relative;
	float: right;
}

#btnleft {
	margin-left: 30px;
}

.btn-top {
	background-image: url('../image/to-top.png');
	background-repeat: no-repeat;
	border: medium none;
	bottom: 20px;
	right: 0;
	cursor: pointer;
	display: none;
	height: 80px;
	width: 80px;
	outline: medium none;
	padding: 0;
	position: fixed;
	z-index: 9980;
	margin: 0 0 5px 5px;
	-ms-opacity: 0.5;
	opacity: 0.5;
}

	.btn-top:hover {
		background-image: url('../image/to-top.png');
		background-repeat: no-repeat;
		border: medium none;
		bottom: 20px;
		right: 0;
		cursor: pointer;
		display: none;
		height: 80px;
		width: 80px;
		outline: medium none;
		padding: 0;
		position: fixed;
		z-index: 9980;
		margin: 0 0 5px 5px;
		-ms-opacity: 1.5;
		opacity: 1.5;
	}

.row:after {
	content: "";
	display: table;
	clear: both;
}

img {
	margin-bottom: -4px;
}

body {
	/*background: url('/image/bg.jpg') no-repeat fixed;*/
	background: #521a61 linear-gradient(55.93deg,purple 0%,navy 100%);
	color: #ffffff;
}

.baiviet a {
	text-decoration: none;
	color: #ffffff;
}

	.baiviet a i {
		float: left;
		font-size: 80%;
		margin-top: 15px;
	}

	.baiviet a h5 {
		font-weight: bold;
        margin: 20px;
        font-size:15px;
	}

.baiviet .chitiet h1 {
	text-align: center;
	font-weight: bold;
}

.baiviet .chitiet img {
	margin: auto;
	display: block;
}

.footer {
	bottom: 0;
	width: 100%;
	background-color: black;
}

.container {
	height: 100%;
}

.footer-child {
	margin-top: 10px;
}

	.footer-child .footer-left, .footer-child .footer-right {
		height: 100%;
	}

		.footer-child .footer-left h4, .footer-child .footer-right h4 {
			color: #ffffff;
			font-weight: bold;
			margin-bottom: 20px;
		}

		.footer-child .footer-left i {
			color: #ffffff;
			float: left;
			margin-right: 10px;
		}

		.footer-child .footer-left h5 {
			color: #ffffff;
			margin-bottom: 20px;
		}

		.footer-child .footer-right .maps {
			height: 200px;
			border: 1px solid red;
		}

.coppy {
	margin-top: 10px;
}

	.coppy h5 {
		text-align: center;
	}

.header-top {
	padding: 0 20px 0 20px;
}
