@{
	ViewBag.Title = "Home Page";
	Layout = "~/Views/Shared/_Layout" + 1 + ".cshtml";
}

<div class="col-lg-12 baiviet">
	<div class="container gach"></div>
	<a href="#">
		<i class="glyphicon glyphicon-play"></i>
		<h5> Giới thiệu</h5>
	</a>
	<div class="clearfix"></div>
	<div class="col-md-8 col-md-offset-2 chitiet">
		<!--<img src="image/tlty.png" style="margin: auto;display: block;" class="img-responsive">-->
		<h1>Thung lũng tình yêu</h1>
		<img src="~/Content/ClientTheme/image/1.png" class="img-responsive">
		<p>Du lịch Đà Lạt luôn là điểm đến thu hút nhiều du khách không chỉ bởi khí hậu mà còn là quang cảnh thiên nhiên tuyệt vời.Trong số các cảnh đẹp của Đà Lạt, Thung lũng Tình yêu là một trong những thắng cảnh Du lịch nổi tiếng đã đi vào tiềm thức của mỗi người dân cũng như các du khách từ mọi miền đất nước. Thung lũng tình yêu cách Trung tâm thành phố Đà Lạt khoảng 6 km về hướng Đông Bắc với tổng diện tích gần 140 ha.</p>
		<h1>Đến Thung Lũng Tình Yêu</h1>
		<img src="~/Content/ClientTheme/image/3.png" class="img-responsive">
		<p>Từ trung tâm thành phố Đà Lạt, Quý khách có thể đi xe hơi, xe máy khoảng 15 phút theo hướng đường Nguyễn Văn Trỗi – Bùi Thị Xuân ( hoặc Phan Bội Châu – Bùi Thị Xuân, hoặc Phan Bội Châu – Bùi Thị Xuân – Đinh Tiên Hoàng ) đến Ngã 5 Đại học rồi đi hết đường Phù Đổng Thiên Vương và rẽ phải theo đường Mai Anh Đào 500 mét sẽ tới Khu Du lịch.</p>
	</div>
</div>
