<div class="navbar-default sidebar" role="navigation">
	<div class="sidebar-nav navbar-collapse">
		<ul class="nav" id="side-menu">
			<li>
				<a href=""><i class="fa fa-dashboard fa-fw"></i> Trang chủ</a>
			</li>
			<li>
				<a href=""><i class="fa fa-bar-chart-o fa-fw"></i> Quản lý người dùng</a>
			</li>
			<li>
				<a href=""><i class="fa fa-table fa-fw"></i> Quản lý danh mục</a>
			</li>
			<li>
				<a href=""><i class="fa fa-edit fa-fw"></i> Quản lý tin tức</a>
			</li>
			<li>
				<a href=""><i class="fa fa-wrench fa-fw"></i> Quản lý menu</a>
			</li>
			<li>
				<a href=""><i class="fa fa-sitemap fa-fw"></i> Quản lý slider</a>
			</li>
			<li>
				<a href=""><i class="fa fa-files-o fa-fw"></i> Quản lý liên hệ</a>
			</li>
			<li>
				<a href=""><i class="fa fa-files-o fa-fw"></i> Quản lý bảng giá</a>
			</li>
			<li>
				<a href=""><i class="fa fa-files-o fa-fw"></i> Quản lý đầu tư</a>
			</li>
			<li>
				<a href=""><i class="fa fa-files-o fa-fw"></i> Quản lý yêu cầu</a>
			</li>
		</ul>
	</div>
	<!-- /.sidebar-collapse -->
</div>
